*.o
.vscode
*/.gitignore

# mod 00 binaries
megaphone
phonebook

# mod 01 binaries
zombie
horde
pointer
violence
sed
harl

# mod01 tester files
*.replace
txt*

# mod 02 binaries
fixed
fixed1
fixed2

# mod 03 binaries
clap
scav
frag

# mod 04 binaries
poly
fire

# mode 05 binaries
buro
buro1
buro2
buro3
*_shrubbery

# mod 06 binaries
scalar
